
<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">
<html xmlns=\"http://www.w3.org/1999/xhtml\">
 
<head>
 
    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf8\" />
 
  
    <title>Вывод информации</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
 
<body>
 
<h3 >Вывод из MySQL информации обо мне.</h3>
 <div class="table1">
<table >
 <tr>
  <td><b>#</b></td>
  <td class="even" ><b>Name</b></td>
  <td ><b>Surname</b></td>
  <td  class="even"><b>patronymic</b></td>
  <td ><b>age</b></td>
  <td  class="even"><b>class</b></td>
  <td ><b>faculty</b></td>
 </tr>
 <tr>
  <td  class="even"><b>id</b></td>
  <td ><b>{{arr.name}}</b></td>
  <td  class="even"><b>{{arr.surname}}</b></td>
  <td ><b>{{arr.patronymic}}</b></td>
  <td  class="even"><b>{{arr.age}}</b></td>
  <td ><b>{{arr.class}}</b></td>
  <td  class="even"><b>{{arr.faculty}}</b></td>
 </tr>
 </table>
 </div>
 </body>
 